.mypic{
    width: 100%;
    border: solid 2px rgb(226, 147, 78);
}

.myname{
    text-transform: uppercase;
    font-size: 5vw;
}

.about{
    font-size: 30px;
    font-size: 3vw;
    font-size: 2vmax
}

.card1{
    padding: 16px;
    margin: 16px;
    border: none;
    background-color: bisque;
    border-radius: 16px;
}