.info {
    padding: 50px;
    font-size: 5em;
    font-weight: 900;
    width: 50%;
}

.info-container{
    max-width: 500px;
}

.img{
    width: 100%;
    max-width: 500px;
    margin-right: 50px;
    margin-top: 50px;
    border: solid 20px white;
    box-shadow:  0 0 15px rgb(226, 147, 78);
}