/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');


/* Styles */
.foot{
    font-family: 'Nabla', cursive;
    font-size: 20px;
    margin-left: 16px;
}


ul{
    border: none;
    box-shadow: 0 0 30px rgb(226, 147, 78);
}

.footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background-color: #0C64B3;
    margin: 0;
}